.color1 {color: #532f38;}
.color2 {color: #6f434c;}
.color3 {color: #9d656d;}
.color4 {color: #db9897;}
.color5 {color: #f8d0cd;}


#productoscards{
    padding: 0px;

}
#inicio-vid{
    display: flex;
    width: 100%;
    border-top: 45px solid;
    border-color: black;
    border-color: black;
    justify-content: center;
    background-color: black;
}
#contenido{
    margin-top: 40px;
    margin-bottom: 40px;
}

#container-card{
    margin-top: 30px;
    margin-bottom: 30px;
}

#container-card > div > div.col-md-7{
    padding-left: 90px;
}

#container-card > div > div.col-md-5 > img{
    display: flex;
    width: 280px;
}

#container-card > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container-card > div > div.col-md-5{
    display: flex;
    justify-content: center;
}

.containercards{
    display: flex;
    width: 1000px;
}

.containercards1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#containercarrusel{
    display: flex;
    margin-top: 50px;
    width: 1100px;
    justify-content: center;
    margin-bottom: 30px;
}
.containercarrusel1{
    display: flex;
    justify-content: center;
}
#carouselExampleDark > div.carousel-inner > div:nth-child(1) > div > h5{
color: black;
background-color: wheat;

}
#carouselExampleDark > div.carousel-inner > div:nth-child(1) > div > p{
    color: black;
background-color: wheat;
}
#carouselExampleDark > div.carousel-inner > div:nth-child(2) > div > h5{
    color: black;
background-color: wheat;
}
#carouselExampleDark > div.carousel-inner > div:nth-child(2) > div > p{
    color: black;
background-color: wheat;
}

#carouselExampleDark > div.carousel-inner > div:nth-child(3) > div > h5{
    color: black;
background-color: wheat;
}

#carouselExampleDark > div.carousel-inner > div:nth-child(3) > div > p{
    color: black;
background-color: wheat;
}


.img_products{
    width: 100%;
	height: 100%;
	object-fit: cover;
	border: 7px solid #532f38;
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#productoscards > div > div:nth-child(1){
    border-bottom: 7px solid #532f38;
}
#productoscards > div > div:nth-child(2){
    border-bottom: 7px solid #532f38;
}
#productoscards > div > div:nth-child(3){
    border-bottom: 7px solid #532f38;
}
